<footer>
    <!-- this code is for the image overlay -->
    <!-- found these arrows @ https://www.i2symbol.com/symbols/arrows -->
    <div id="image-overlay" class="overlay">
        <div class="overlay-content">
            <button id="left-button">⇦</button>
            <div class="overlay-image-wrapper">
                <img id="overlay-image" src="" alt="Image Preview">
                <a href="Certificate.pdf" id="download" download="Certificate.pdf" class="img-buttons download-button">Download PDF</a>
            </div>
            <button id="right-button">⇨</button>
            <button id="close" class="img-buttons close-button">x</button>
        </div>
    </div>
    <!-- this code is for the image overlay -->
    <h4 class="flex footer-border">Alex Handley &copy; <%= new Date().getFullYear() %></h4>
    <p>version: 1.0.2</p>
</footer>
<script src="/scripts/script.js"></script>
</body>
</html>