<footer>
    <h4 class="flex footer-border"> website by: Alex Handley &copy; <%= new Date().getFullYear() %></h4>
    <p>version: 0.5</p>
</footer>
<script src="/scripts/script.js"></script>
</body>
</html>