<%- include("layouts/header") %>
<main>
    <div class="about-div1 fancy-box">
        <img src="images/Alex2.jpg" id="home-img">
            <p>Hello there, this is my very first website! I built it with EJS using HTML syntax, CSS for those pretty blue colors, and JavaScript for some functionality and testing. This is not only my first website that I created from scratch, but my first one after I have graduated from the technology boot camp called Bloom Institue of Technology (link available on the contact tab). I started the Full Stack Web Development program on August 10th, 2023 and graduated on February 10th, 2025.</p>
            <p>While I am developing this website, I am looking for an entry-level job as a software engineer and start making a living while gaining valuable work experience. The reason I have built this simple website for myself is to keep my skills sharp and updated with the latest of the web technology stack. I'll probably make another one of these websites in the future that looks a bit more like a professional portfolio, but this is better than nothing and I enjoyed making it. and let's be honest, it looks like a nerd slapped website together :P.</p>
    </div>
    <div class="about-div2 fancy-box">
        <h3 class="flex fun-facts">Random fun-facts about me :D</h3>
        <div class="divider-space">
            <div class="divider"></div>
        </div>
        <div class="fun-grid">
            <div class="flex fun-row">
                <div class="fun-label">I write:</div>
                <h2 class="fun-value">left-handed</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My eyes are:</div>
                <h2 class="fun-value">Grey colored</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite snack is:</div>
                <h2 class="fun-value">Beef Jerky</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite sport is:</div>
                <h2 class="fun-value">Basketball</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite color:</div>
                <h2 class="fun-value">Blue (can't ya tell lol)</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite family member:</div>
                <h2 class="fun-value">who knows lol</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite musician:</div>
                <h2 class="fun-value">Alexander Brandon</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite musician:</div>
                <h2 class="fun-value">Michiel van den Bos</h2>
            </div>
            <div class="flex fun-row">
                <div class="fun-label">My favorite video-game:</div>
                <h2 class="fun-value">Age of Empires II</h2>
            </div>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>