<%- include("layouts/header") %>
<main>
    <div class="about-div1 fancy-box">
        <img src="images/pictureimage.jpg" id="home-img">
            <p>Hello there! This is my very first website. I built it with EJS using HTML syntax, CSS, and JavaScript! This is not only my first website created from scratch, but my first one after I have graduated from the technology school named Bloom Institue of Technology. I started the Full Stack Web Development program on August 10th, 2023 and graduated on February 10th, 2025.</p>
            <p>While I am designing this website, I am on the search for for an starting level job to gain work experience and start making a living. For the time being, I have built this simple EJS website to keep my skills sharp and updated with the latest of the web technology stack. I'll probably make another one of these in the future to look like a professional portfolio, although better than nothing. Let's be honest, it looks like a nerd built this slapped website together.</p>
     </div>
    <div class="about-div2 fancy-box">
        <h3 class="flex fun-facts">Random fun-facts about me :D</h3>
        <div class="divider"></div>
        <div class="fun-content fun-facts">
            <div>
                <p>I write:</p>
                <h2>left-handed</h2>
            </div>
                <p>My eyes are:</p>
                <h2>Grey colored</h2>
                <p>My favorite snack is:</p>
                <h2>Beef Jerky</h2>
                <p>My favorite sport is:</p>
                <h2>Basketball</h2>
                <p>My favorite color:</p>
                <h2>Blue (can't ya tell lol)</h2>
                <p>My favorite family member:</p>
                <h2>you don't get to know that</h2>
                <p>My favorite musicians:</p>
                <h2>Alexander Brandon</h2>
                <p>My favorite musicians:</p>
                <h2>Michiel van den Bos</h2>
                <p>My favorite video-game:</p>
                <h2>Age of Empires II</h2>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>