<%- include("layouts/header") %>
<main>
    <div class="home-img-div">
        <img src="images/pictureimage.jpg" id="home-img">
    </div>
    <div class="about-div">
        <div class="paragraph-1">
            <p>Hello there! This is my very first website. I built it with EJS using HTML syntax, CSS, and HTML! This is not only my first website created from scratch, but my first one after I have graduated from the technology school named Bloom Institue of Technology. I did the Full Stack Web Development program on August 10th, 2023 and graduated on February 10th, 2025.</p>
            
            <p>Now, I am searching for an entry-level job to get some experience to get started on my career and adult life. For the time being, I have built this website to be my portfolio and to keep my skills sharp and updated with the latest of the web technology stack.</p>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>