<%- include("layouts/header") %>
<main>
    <div class="about-div1 fancy-box">
        <img src="images/pictureimage.jpg" id="home-img">
            <p>Hello there! This is my very first website. I built it with EJS using HTML syntax, CSS, and JavaScript! This is not only my first website created from scratch, but my first one after I have graduated from the technology school named Bloom Institue of Technology. I started the Full Stack Web Development program on August 10th, 2023 and graduated on February 10th, 2025.</p>
            <p>While I am designing this website, I am on the search for for an starting level job to gain work experience and start making a living. For the time being, I have built this simple EJS website to keep my skills sharp and updated with the latest of the web technology stack. I'll probably make another one of these in the future to look like a professional portfolio, although better than nothing. Let's be honest, it looks like a nerd built this slapped website together.</p>
    </div>
    <div class="about-div2 fancy-box">
        <h3 class="flex fun-facts">Random fun-facts about me :D</h3>
        <div class="divider"></div>
        <div class="fun-grid">
            <div class="fun-row">
                <div class="fun-label">I write:</div>
                <div class="fun-value">left-handed</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My eyes are:</div>
                <div class="fun-value">Grey colored</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite snack is:</div>
                <div class="fun-value">Beef Jerky</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite sport is:</div>
                <div class="fun-value">Basketball</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite color:</div>
                <div class="fun-value">Blue (can't ya tell lol)</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite family member:</div>
                <div class="fun-value">who knows lol</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite musician:</div>
                <div class="fun-value">Alexander Brandon</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite musician:</div>
                <div class="fun-value">Michiel van den Bos</div>
            </div>
            <div class="fun-row">
                <div class="fun-label">My favorite video-game:</div>
                <div class="fun-value">Age of Empires II</div>
            </div>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>