<%- include("layouts/header") %>
<main>
    <div class="about-intro fancy-box">
        <div class="img-wrapper">
            <img src="images/Alex3.jpg" id="home-img" />
        </div>
        <div class="text-wrapper">
            <p>This is my very first website! I built it with EJS using HTML syntax, CSS for those pretty blue colors, and JavaScript for some functionality and testing. This is not only my first website that I created from scratch, but my first one after I have graduated from the technology boot camp called Bloom Institue of Technology (link in the contact tab). I started the Full Stack Web Development program on August 10th, 2023 and graduated on February 10th, 2025.</p>
            <p>While I am developing this website, I am looking for an entry-level job as a software engineer and start making a living while gaining valuable work experience. The reason I have built this simple website for myself is to keep my skills sharp and updated with the latest of the web technology stack. I'll probably update this website or make another one entirely in the future that looks a bit more like a professional portfolio, but this is better than nothing and I enjoyed making it. and let's be honest, it looks like a nerd slapped website together :P</p>
        </div>
    </div>
    <div class="fun-container fancy-box">
        <h3 class="flex fun-facts">Random fun-facts about me :D</h3>
        <div class="divider-space">
            <div class="projects-divider"></div>
        </div>
        <div class="fun-grid">
            <div class="flex fun-row">
                <div>I write:</div>
                <h4>left-handed</h4>
            </div>
            <div class="flex fun-row">
                <div>eyes are:</div>
                <h4>Grey colored</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite snack is:</div>
                <h4>Beef Jerky</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite sport is:</div>
                <h4>Basketball</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite color:</div>
                <h4>Blue (can't ya tell lol)</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite family member:</div>
                <h4>who knows lol</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite musician:</div>
                <h4>Alexander Brandon</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite musician:</div>
                <h4>Michiel van den Bos</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite video-game:</div>
                <h4>Age of Empires II</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite video-game:</div>
                <h4>Unreal Tournament</h4>
            </div>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>