<%- include("layouts/header") %>
<main>
<div class="about-section fancy-box">
  <div class="about-flex">
    <div class="flex img-border about-img-container">
      <img src="images/Alex3.jpg" id="home-img" />
    </div>
    <p class="about-p">I studied full stack web development and learned how to work with the modern web technology stack through BloomTech. During the program, I built hands-on projects using HTML, CSS, JavaScript, React, SQL, Express, and EJS, which gave me both the technical skills and problem-solving experience to create real-world applications. I graduated on February 10, 2025, and I'm now excited to start my career as a developer. I'm currently open and looking for work in the Northern area of  Kansas City, Missouri as well as remote positions across the United States.</p>
  </div>
  <div class="about-extra">
    <p class="about-p">I want to thank my friends and family for sticking with me through the entire BloomTech program. Their support kept me going through the long nights of debugging and the occasional "why isn't this working?" meltdowns. I'm also thankful to BloomTech for giving me the skills to finally build my first website from scratch. This site was a real journey from its start, stopping, restarting (a couple of times), and finally getting finished using EJS for the layout, CSS for the pretty blue colors, and JavaScript for additional functionality and server-side testing. Honestly, this looks like it was slapped together by a nerd, but it's my work and I'm proud of it. The fact that the whole world can now see something I built is pretty amazing to me.</p>
  </div>
</div>
    <div class="fun-container fancy-box">
        <h2 class="flex">Random fun-facts about me :D</h2>
        <div class="divider-space fun-space">
            <div class="projects-divider"></div>
        </div>
        <div class="fun-grid">
            <div class="flex fun-row">
                <div>I write:</div>
                <h4>left-handed</h4>
            </div>
            <div class="flex fun-row">
                <div>eyes are:</div>
                <h4>Grey colored</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite snack is:</div>
                <h4>Beef Jerky</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite sport is:</div>
                <h4>Basketball</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite color:</div>
                <h4>Blue (can't ya tell? :P)</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite meal:</div>
                <h4>there's too many lol</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite musician:</div>
                <h4>Alexander Brandon</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite musician:</div>
                <h4>Michiel van den Bos</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite video-game:</div>
                <h4>Age of Empires II</h4>
            </div>
            <div class="flex fun-row">
                <div>favorite video-game:</div>
                <h4>Unreal Tournament</h4>
            </div>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>