<%- include("layouts/header") %>
<main>
    <h4 class="flex home-intro">Contact me here!</h4>
    <div class="flex home-img-div">
        <img src="images/Alex2.jpg" id="home-img">
    </div>

    <div class="contact-div">
        <h3 class="flex">Personal Contact here!</h3>
        <div class="flex contact-space">
            <p class="flex contact-display">Email: </p>
            <h4 class="contact-display">alexhtech2@gmail.com</h4>
        </div>
        <div class="flex contact-space">
            <p class="flex contact-display">Phone: </p>
            <h4 class="contact-display">(816)-402-0743</h4>
        </div>
        <div class="flex contact-space">
            <p class="flex contact-display">Location: </p>
            <h4 class="contact-display">Kansas City, MO 64048</h4>
        </div>
    </div>
    <div class="contact-div">
        <h3 class="flex">Links down below!</h3>        
        <div class="flex contact-space">
            <p class="flex contact-display">LinkedIn: </p>
            <a class="contact-display" href="https://www.linkedin.com/in/ah02art/" target="_blank">Alex Handley</a>
        </div>
        <div class="flex contact-space">
            <p class="flex contact-display">GitHub: </p>
            <a class="contact-display" href="https://github.com/AH02Art" target="_blank">AH02Art</a>
        </div>
        <div class="flex contact-space">
            <p class="flex contact-display">My Technical School: </p>
            <a class="contact-display" href="https://www.bloomtech.com/" target="_blank">BloomTech</a>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>