<%- include("layouts/header") %>
<main>
    <h4 class="flex home-intro">Contact me!</h4>
    <div class="flex home-img-div">
        <img src="images/pictureimage.jpg" id="home-img">
    </div>
    <div>
        <div class="flex">
            <p class="contact-display">EMail:</p>
            <a class="contact-display">alexhtech2@gmail.com</a>
        </div>
        <div class="flex">
            <p class="contact-display">Phone:</p>
            <a class="contact-display">(816)402-0743</a>
        </div>
        <div class="flex">
            <p class="contact-display">LinkedIn:</p>
            <a class="contact-display">Alex Handley</a>
        </div>
        <div class="flex">
            <p class="contact-display">GitHub:</p>
            <a class="contact-display">AH02Art</a>
        </div>
        <div class="flex">
            <p class="contact-display">Location:</p>
            <a class="contact-display">Kansas City, MO 64048</a>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>