<%- include("layouts/header") %>
<main>
    <h4 class="flex contact-space">Contact me here!</h4>
    <div class="flex home-img-container">
        <div class="img-border">
            <img src="images/Alex3.jpg" id="home-img"/>
        </div>
    </div>
    
    <h3 class="flex contact-space">Personal Contact here!</h3>
    <div class="contact-grid">
        <div class="contact-row">
            <div>Phone: </div>
            <h4>(816)-402-0743</h4>
        </div>
        <div class="contact-row">
            <div>Email: </div>
            <h4>alexhtech2@gmail.com</h4>
        </div>
        <div class="contact-row">
            <div>Location: </div>
            <h4>Kansas City, Missouri</h4>
        </div>
    </div>
    <h3 class="flex contact-space">Links down below!</h3>      
    <div class="contact-grid">
        <div class="flex contact-row">
            <div>LinkedIn: </div>
            <a href="https://www.linkedin.com/in/ah02art/" target="_blank">Alex Handley</a>
        </div>
        <div class="flex contact-row">
            <div>GitHub: </div>
            <a href="https://github.com/AH02Art" target="_blank">AH02Art</a>
        </div>
        <div class="flex contact-row">
            <div>My Technical School: </div>
            <a href="https://www.bloomtech.com/" target="_blank">BloomTech</a>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>