<%- include("layouts/header") %>    
<main>
    <h4 class="flex h-padding">Hello! Welcome to my personal website! Enjoy your stay! :D</h4>
    <div class="flex home-img-container">
        <div class="flex img-border">
            <img src="images/Alex3.jpg" id="home-img"/>
        </div>
    </div>
    <div>
        <h3 class="flex">some of my technical skills</h3>
        <div class="divider-space">
            <div class="divider"></div>
        </div>
        <div class="skills-container">
            <div>
                <img src="images/SKILL_HTML5.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_CSS3.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_JS.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_NODE.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_REACT.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_EXPRESS.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_EJS.png" class="skills-img">
            </div>
            <div>
                <img src="images/SKILL_SQL.png" class="skills-img">
            </div>
        </div>
        <div class="divider-space">
            <div class="divider"></div>
        </div>
    </div>
    <div>
        <h3 class="flex h-padding">Here is my Certificate of Completion from my training program. Click on it to take a better look!</h3>
        <div class="flex images-div">
            <img id="c1" data-group="certificate" data-index="0" class="thumbnail" src="images/certificate1.png" />
            <img id="c2" data-group="certificate" data-index="1" class="thumbnail" src="images/certificate2.png" />
        </div>
        <div class="flex">
            <a href="Certificate.pdf" download="Certificate.pdf" class="nav home-download">Download PDF</a>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>