<%- include('layouts/header') %>    
<main>
    <h4 class="flex home-intro">Hello there, this is my first website I built from stratch! Below is a summary of my education from Bloom Institute of Technology. Enjoy your stay! :D</h4>
    <div class="flex home-img-div">
        <img src="images/Alex.png" id="home-img">
    </div>
    <div class="training-div">
            <h3 class="flex">my technical training</h4>
            <div class="divider"></div>
            <div class="training-list">
                <h4 class="flex">Frontend</h4>
                <ul>
                    <li>ALPHA</li>
                    <li>BRAVO</li>
                    <li>CHARLIE</li>
                    <li>DELTA</li>
                    <li>ECO</li>
                    <li>FOXTROT</li>
                    <li>GOLF</li>
                    <li>HOTEL</p>
                </ul>
            </div>
            <div class="divider"></div>
            <div class="training-list">
                <h4 class="flex">Backend</h4>
                <ul>
                    <li>ALPHA</li>
                    <li>BRAVO</li>
                    <li>CHARLIE</li>
                    <li>DELTA</li>
                    <li>ECO</li>
                    <li>FOXTROT</li>
                    <li>GOLF</li>
                    <li>HOTEL</p>
                </ul>
            </div>
    </div>
</main>
<%- include('layouts/footer') %>