<%- include("layouts/header") %>    
<main>
    <h4 class="flex home-intro">Hello there, this is my first website I built from stratch and below is a summary of my education. Enjoy your stay! :D</h4>
    <div class="flex home-img-div">
        <img src="images/Alex2.jpg" id="home-img" />
    </div>
    <div>
        <h3 class="flex">my technical training</h4>
        <div class="divider"></div>
        <div class="training-list">
            <ul>
                <li>HTML Structure</li>
                <li>CSS Styling</li>
                <li>JavaScript</li>
                <li>Asynchronous JavaScript</li>
                <li>Node.js</li>
                <li>EJS</li>
                <li>React.js</li>
                <li>Tailwind.css</li>
                <li>HTTP CRUD methods</li>
                <li>API Calling</li>
                <li>RESTful Client</li>
                <li>Axios</li>
                <li>Express.js</li>
                <li>SQL</li>
                <li>Knex.js</li>
                <li>JSON Web Tokens</li>
                <li>Jest Unit Testing</li>
                <li>Yup Form Validation</li>
                <li>Git Version Control</li>
                <li>Auth0 security</li>
                <li>Authentication</li>
                <li>Authorization</li>
            </ul>
        </div>
        <div class="divider"></div>
    </div>
    <div>
        <h3 class="flex some-space">Here is my Certificate of Completion from my training program. Click on it to take a better look!</h3>
        <div class="flex images-div">
            <img id="c1" class="thumbnail" src="images/certificate1.png" />
            <img id="c2" class="thumbnail" src="images/certificate2.png" />
        </div>
        <div class="flex">
            <a href="Certificate.pdf" download="Certificate.pdf" class="nav home-button">Download PDF</a>
        </div>
        <!-- this code is for the image's overlay -->
        <!-- found these arrows @ https://www.i2symbol.com/symbols/arrows -->
        <div id="lightbox-overlay" class="overlay">
            <div class="lightbox-content lightbox-controls">
                <button id="left-button" class="img-buttons navigate-buttons">⇦</button>
                <div class="lightbox-image-wrapper">
                    <img id="lightbox-image" src="" alt="Certificate Preview">
                    <a href="Certificate.pdf" download="Certificate.pdf" class="img-buttons download-button">Download PDF</a>
                </div>
                <button id="right-button" class="img-buttons navigate-buttons">⇨</button>
                <button id="close" class="img-buttons close-button">X</button>
            </div>
        </div>
        <!-- this code is for the image's overlay -->
    </div>
</main>
<%- include("layouts/footer") %>