<%- include('layouts/header') %>    
<main>
    <h4 class="flex">Hello there! Welcome to my first website! :D</h4>
    <div id="div-1" class="flex">
        <img src="images/Alex.png" id="home-img">
    </div>
    <div id="div-2">
            <h3 class="flex">my technical training</h4>
    </div>
    <div class="flex">
        <h4>Frontend</h4>
        <p>Alpha, Bravo, Charlie, Delta, Eco, Foxtrot, Golf, Hotel, India</p>
    </div>
        <h4>Backend</h4>
        <p>Alpha, Bravo, Charlie, Delta, Eco, Foxtrot, Golf, Hotel, India</p>
</main>
<%- include('layouts/footer') %>