<%- include("layouts/header") %>    
<main>
    <h4 class="flex home-intro">Hello there, this is my first website I built from stratch and below is a summary of my education. Enjoy your stay! :D</h4>
    <div class="flex home-img-div">
        <img src="images/pictureimage.jpg" id="home-img">
    </div>
    <div class="training-div">
        <h3 class="flex">my technical training</h4>
        <div class="divider"></div>
        <div class="training-list">
            <ul>
                <li>HTML Structure</li>
                <li>CSS Styling</li>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>EJS</li>
                <li>React.js</li>
                <li>Tailwind.css</li>
                <li>HTTP CRUD methods</li>
                <li>Axios</li>
                <li>Express.js</li>
                <li>SQL</li>
                <li>JSON Web Tokens</li>
                <li>Unit Testing</li>
                <li>Git Version Control</li>
                <li>Authentication</li>
                <li>Authorization</li>
                <li>some more stuff eventually lol</li>
            </ul>
        </div>
        <div class="divider"></div>
    </div>
    <div class="flex images-div">
        <img id="c1" class="certificate-img" src="images/certificate1.png">
        <img id="c2" class="certificate-img" src="images/certificate2.png">
    </div>
</main>
<%- include("layouts/footer") %>