<%- include("layouts/header") %>
<main>
    <p class="flex training div">Here is a grid of my most significant projects during my training at BloomTech.</p>
    <p class="flex training div">Click on their titles to go to their GitHub Repositories or the images to see the thumbnail a lot better.</p>
    <!-- WIP: create the image-pop up for the project thumbnails -->
    <div class="projects-div fancy-box">
        <div class="project-container">
            <img id="p1" class="project-thumbnail" src="images/learnercards.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint5-Challenge" target="_blank">Learner Cards</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 5 Challenge project</p>
            <p>Technologies: HTML Structure, JavaScript, CSS Styling, Node.js, API Calling, Axios</p>
        </div>

        <div class="project-container">
            <img id="p2" class="project-thumbnail" src="images/starwarscharacters.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint6-Challenge" target="_blank">Star Wars Characters</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 6 Challenge project</p>
            <p>Technologies: JavaScript, React.js, Node.js, API Calling</p>
        </div>

        <div class="project-container">
            <img id="p3" class="project-thumbnail" src="images/thegrid.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint9-Challenge" target="_blank">The Grid</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 9 Challenge project</p>
            <p>Technologies: JavaScript, React.js, Node.js, API Calling</p>
        </div>

        <div class="project-container">
            <img id="p4" class="project-thumbnail" src="images/pizzaapp.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint10-Challenge" target="_blank">Pizza App</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
                <p>Sprint 10 Challenge project</p>
                <p>Technologies: JavaScript, React.js, Node.js, REDUX, API Calling, Axios</p>
        </div>

        <div class="project-container">
            <img id="p5" class="project-thumbnail" src="images/articlesapp.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint13-Challenge" target="_blank">Articles App</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 13 Challenge project</p>
            <p>Technologies: JavaScript, Node.js, Express.js, API Calling, SQL, Knex.js</p>
        </div>

        <div class="project-container">
            <img id="p6" class="project-thumbnail" src="images/projects.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint14-Challenge" target="_blank">Projects & Actions Database</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 14 Challenge project</p>
            <p>Technologies: JavaScript, Node.js, Express.js, API Calling, SQL, Knex.js</p>
        </div>

        <div class="project-container">
            <img id="p7" class="project-thumbnail" src="images/landing.jpg">
            <a class="flex" href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 1: Landing Page</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 21 Challenge project</p>
            <p>Technologies: HTML Structure, React.js, JavaScript, CSS Styling, Tailwind.css</p>
        </div>

        <div class="project-container">
            <img id="p8" class="project-thumbnail" src="images/asylumgraphspage.jpg">
            <a class="flex" href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 2: Graphs Page</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 22 Challenge project</p>
            <p>Technologies: JavaScript, API Calling</p>
        </div>

        <div class="project-container">
            <img id="p9" class="project-thumbnail" src="images/asylumprofilepage.jpg">
            <a class="flex" href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 3: Auth0 Integration</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Sprint 23 Challenge project</p>
            <p>Technologies: HTML Structure, React.js, JavaScript, CSS Styling, Tailwind.css, Auth0 security</p>
        </div>
    </div>
        <!-- this code is for the image's overlay -->
        <!-- <div id="projects-overlay" class="overlay">
            <div class="lightbox-content">
                <button id="left-button" class="img-buttons navigate-buttons">⇦</button>
                <img id="lightbox-image" src="" alt="Certificate Preview">
                <button id="right-button" class="img-buttons navigate-buttons">⇨</button>
                <button id="close" class="img-buttons close-button">x</button>
            </div>
        </div> -->
        <!-- this code is for the image's overlay -->
</main>
<%- include("layouts/footer") %>