<%- include("layouts/header") %>
<main>
    <p class="flex h-padding">Here is a grid that shows off my most significant projects during my training at BloomTech.</p>
    <div class="projects-div fancy-box">
        <div class="project-container">
            <img id="p1" data-group="projects" data-index="0" class="project-thumbnail" src="images/learnercards.jpg">
            <a href="https://github.com/AH02Art/Sprint5-Challenge" target="_blank">Learner Cards</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Used JavaScript to manipulate the DOM by fetching data from the network and built a section on the web page. It displays a list of learners along with their basic information such as ID, name, email, and a list of mentors. Users should be able to click on a learner to highlight it, and the list of mentors for each learner should be expandable and collapsible.</p>
        </div>

        <div class="project-container">
            <img id="p2" data-group="projects" data-index="1" class="project-thumbnail" src="images/starwarscharacters.jpg">
            <a href="https://github.com/AH02Art/Sprint6-Challenge" target="_blank">Star Wars Characters</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Used React to manipulate the DOM by fetching data from the network and builds and displays a list of Star Wars characters with their basic information such as ID, name, date of birth, and home world. Users of the app should be able to click on a character card to expand some information on the character.</p>
        </div>

    <div class="project-container">
            <img id="p3" data-group="projects" data-index="2" class="project-thumbnail" src="images/thegrid.jpg">
            <a href="https://github.com/AH02Art/Sprint9-Challenge" target="_blank">The Grid</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Used React to build an 3x3 grid that gets rendered in the browser. Users can interact with the grid by clicking on buttons on the screen to control the coordinates of the highlighted block. The moves are also tracked by a counter above the grid.</p>
        </div>

        <div class="project-container">
            <img id="p4" data-group="projects" data-index="3" class="project-thumbnail" src="images/pizzaapp.jpg">
            <a href="https://github.com/AH02Art/Sprint10-Challenge" target="_blank">Pizza App</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Created a Pizza App where you can simulate making an order. You can pick the size, toppings, and submit your order. You can also filter through previous orders by the size of the pizza. All of the functionality for the Pizza App was created with React, Redux, and state management.</p>
        </div>

        <div class="project-container">
            <img id="p5" data-group="projects" data-index="4" class="project-thumbnail" src="images/articlesapp.jpg">
            <a href="https://github.com/AH02Art/Sprint13-Challenge" target="_blank">Articles App</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Built the back-end for this application which interacts with two resources from a database with the CRUD methods. They get displayed onto the web browser, and of the data uses JavaScript, knex, and migrations to make the data work together.</p>
        </div>

        <div class="project-container">
            <img id="p6" data-group="projects" data-index="5" class="project-thumbnail" src="images/newProjects.jpg">
            <a href="https://github.com/AH02Art/Sprint14-Challenge" target="_blank">Projects & Actions Database</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>Another back-end project. We used SQLite to take a look at the database to see how the data works by writing SQL. Three resources was working together with JaveScipt, knex, middleware, and CRUD methods.</p>
        </div>

        <div class="project-container">
            <img id="p7" data-group="projects" data-index="6" class="project-thumbnail" src="images/asylumlandingpage.jpg">
            <a href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 1: Landing Page</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>The first Labs Project. I built the Landing page completely with React for the elements and Tailwind.css for the Styles. This project assigned us to learn new framework on our own.</p>
        </div>

        <div class="project-container">
            <img id="p8" data-group="projects" data-index="7" class="project-thumbnail" src="images/asylumgraphspage.jpg">
            <a href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 2: Graphs Page</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>The second Labs Project. The Graphs page needed to be populated with data. The data is filled with an API Call inside of a rendered page using React and Axios.</p>
        </div>

        <div class="project-container">
            <img id="p9" data-group="projects" data-index="8" class="project-thumbnail" src="images/asylumprofilepage.jpg">
            <a href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 3: Auth0 Integration</a>
            <div class="divider-space">
                <div class="projects-divider"></div>
            </div>
            <p>The Third Labs Project. This Project creates a user profile page that requires Auth0 set-up and project pushing to access. The profile page also got designed with Tailwind.css</p>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>