<%- include("layouts/header") %>
<main>
    <p class="flex training div">Here is a grid of my most significant projects during my training at BloomTech.</p>
    <div class="projects-div">
        <div class="project-container">
            <h4 class="flex">Learner Cards</h4>
            <img class="project-thumbnail thumbnail" src="images/learnercards.jpg">
            <p>This project is from Sprint 5</p>
            <p>Technologies: HTML Structure, JavaScript, CSS Styling, Node.js, API Calling, Axios</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Star Wars Characters</h4>
            <img class="project-thumbnail thumbnail" src="images/starwarscharacters.jpg">
            <p>This project is from Sprint 6</p>
            <p>Technologies: JavaScript, React.js, Node.js, API Calling</p>
        </div>
        <div class="project-container">
            <h4 class="flex">The Grid</h4>
            <img class="project-thumbnail thumbnail" src="images/thegrid.jpg">
            <p>This project is from Sprint 9</p>
            <p>Technologies: JavaScript, React.js, Node.js, API Calling</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Pizza App</h4>
            <img class="project-thumbnail thumbnail" src="images/pizzaapp.jpg">
            <p>This project is from Sprint 10</p>
            <p>Technologies: JavaScript, React.js, Node.js, REDUX, API Calling, Axios</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Articles App</h4>
            <img class="project-thumbnail thumbnail" src="images/articlesapp.jpg">
            <p>This project is from Sprint 13</p>
            <p>Technologies: JavaScript, Node.js, Express.js, API Calling, SQL, Knex.js</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Projects & Actions Database</h4>
            <img class="project-thumbnail thumbnail" src="images/projects.jpg">
            <p>This project is from Sprint 14</p>
            <p>Technologies: JavaScript, Node.js, Express.js, API Calling, SQL, Knex.js</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Labs Ticket 1: Asylum Landing Page</h4>
            <img class="project-thumbnail thumbnail" src="images/asylumgraphspage.jpg">
            <p>This project is from Sprint 21</p>
            <p>Technologies: HTML Structure, React.js, JavaScript, CSS Styling, Tailwind.css</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Labs Ticket 2: Asylum Graphs Page</h4>
            <img class="project-thumbnail thumbnail" src="images/asylumgraphspage.jpg">
            <p>This project is from Sprint 22</p>
            <p>Technologies: JavaScript, API Calling</p>
        </div>
        <div class="project-container">
            <h4 class="flex">Labs Ticket 3: Asylum Profile & Auth0 Integration</h4>
            <img class="project-thumbnail thumbnail" src="images/asylumprofilepage.jpg">
            <p>This project is from Sprint 23</p>
            <p>Technologies: HTML Structure, React.js, JavaScript, CSS Styling, Tailwind.css, AUth0 security</p>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>