<%- include("layouts/header") %>
<main>
    <p class="flex training div">Here is a grid of my most significant projects during my training at BloomTech.</p>
    <div class="projects-div">
        <div class="project-container">
            <h4 class="flex">Sprint 5: Learner Cards</h4>
            <img class="projects-thumbnail thumbnail" src="images/learnercards.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Sprint 6: SW Characters</h4>
            <img class="projects-thumbnail thumbnail" src="images/starwarscharacters.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Sprint 9: The Grid</h4>
            <img class="projects-thumbnail thumbnail" src="images/thegrid.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Sprint 10: Pizza App</h4>
            <img class="project-thumbnail thumbnail" src="images/pizzaapp.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Sprint 13: Articles App</h4>
            <img class="project-thumbnail thumbnail" src="images/articlesapp.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Sprint 14: Projects & Actions Database</h4>
            <img class="project-thumbnail thumbnail" src="images/projects.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Labs Ticket 1: Asylum Landing Page</h4>
            <img class="project-thumbnail thumbnail" src="images/asylumlandingpage.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Labs Ticket 2: Asylum Graphs Page</h4>
            <img class="project-thumbnail thumbnail" src="images/asylumgraphspage.jpg">
        </div>
        <div class="project-container">
            <h4 class="flex">Labs Ticket 3: Asylum Profile & Auth0 Integration</h4>
            <img class="project-thumbnail thumbnail" src="images/asylumprofilepage.jpg">
        </div>
    </div>
</main>
<%- include("layouts/footer") %>