<%- include("layouts/header") %>
<main>
    <div>Projects page</div>

    <p>I'm thinking about adding: Sprint 5</p>
    <p>I'm thinking about adding: Sprint 6</p>
    <p>I'm thinking about adding: Sprint 7</p>
    <p>I'm thinking about adding: Sprint 8</p>
    <p>I'm thinking about adding: Sprint 9</p>
    <p>I'm thinking about adding: Sprint 13</p>
    <p>I'm thinking about adding: Sprint 14</p>
</main>
<%- include("layouts/footer") %>