<%- include("layouts/header") %>
<main>
    <p class="flex training div">Here is a grid of my most significant projects during my training at BloomTech.</p>
    <div class="projects-div">
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/learnercards.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint5-Challenge" target="_blank">Learner Cards</a>
            <p>Sprint 5 Challenge project</p>
            <p>Technologies: HTML Structure, JavaScript, CSS Styling, Node.js, API Calling, Axios</p>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/starwarscharacters.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint6-Challenge" target="_blank">Star Wars Characters</a>
            <p>Sprint 6 Challenge project</p>
            <p>Technologies: JavaScript, React.js, Node.js, API Calling</p>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/thegrid.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint9-Challenge" target="_blank">The Grid</a>
            <p>Sprint 9 Challenge project</p>
            <p>Technologies: JavaScript, React.js, Node.js, API Calling</p>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/pizzaapp.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint10-Challenge" target="_blank">Pizza App</a>
            <div class="project-text-div">
                <p>Sprint 10 Challenge project</p>
                <p>Technologies: JavaScript, React.js, Node.js, REDUX, API Calling, Axios</p>
            </div>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/articlesapp.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint13-Challenge" target="_blank">Articles App</a>
            <div class="project-text-div">
                <p>Sprint 13 Challenge project</p>
                <p>Technologies: JavaScript, Node.js, Express.js, API Calling, SQL, Knex.js</p>
            </div>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/projects.jpg">
            <a class="flex" href="https://github.com/AH02Art/Sprint14-Challenge" target="_blank">Projects & Actions Database</a>
            <div class="project-text-div">
                <p>Sprint 14 Challenge project</p>
                <p>Technologies: JavaScript, Node.js, Express.js, API Calling, SQL, Knex.js</p>
            </div>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/landing.jpg">
            <a class="flex" href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 1: Asylum Landing Page</a>
            <p>Sprint 21 Challenge project</p>
            <p>Technologies: HTML Structure, React.js, JavaScript, CSS Styling, Tailwind.css</p>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/asylumgraphspage.jpg">
            <a class="flex" href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 2: Asylum Graphs Page</a>
            <p>Sprint 22 Challenge project</p>
            <p>Technologies: JavaScript, API Calling</p>
        </div>
        <div class="project-container">
            <img class="project-thumbnail thumbnail" src="images/asylumprofilepage.jpg">
            <a class="flex" href="https://github.com/AH02Art/Labs1-Project" target="_blank">Labs Ticket 3: Asylum Profile & Auth0 Integration</a>
            <p>Sprint 23 Challenge project</p>
            <p>Technologies: HTML Structure, React.js, JavaScript, CSS Styling, Tailwind.css, AUth0 security</p>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>