<%- include("layouts/header") %>
<main>
    <div>
        <div>
            <img class="thumbnail" src="/images/learnercards.jpg">
            <p>I'm thinking about adding: Sprint 5</p>
        </div>
    
        <div>
            <img class="thumbnail" src="/images/starwarscharacters.jpg">
            <p>I'm thinking about adding: Sprint 6</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/thegrid.jpg">
            <p>I'm thinking about adding: Sprint 9</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/pizzaapp.jpg">
            <p>I'm thinking about adding: Sprint 10</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/articlesapp.jpg">
            <p>I'm thinking about adding: Sprint 13</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/projects.jpg">
            <p>I'm also thinking about adding: Sprint 14</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/asylumlandingpage.jpg">
            <p>I'm also thinking about adding: Labs Ticket 1</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/asylumgraphspage.jpg">
            <p>I'm also thinking about adding: Labs Ticket 2</p>
        </div>
        <div>
            <img class="thumbnail" src="/images/asylumprofilepage.jpg">
            <p>I'm also thinking about adding: Labs Ticket 3</p>
        </div>
    </div>
</main>
<%- include("layouts/footer") %>