:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #0000ff;
    --teal: #33ccff;
    --blue_hover: #0080ff;
    --teal_hover: #80dfff;
    --lightGrey: #808080;
    --darkGrey: #333333;
    --header1: 64px;
    --header2: 48px;
    --header3: 32px;
    --header4: 24px;
    --header5: 16px;
    --header6: 8px;
}

body {
    background-color: var(--darkGrey);
}

header, footer {
    border: var(--lightGrey), 1px, solid;  
}

.flex {
    display: flex;
    justify-content: center;    
}

h1 { font-size: var(--header1); color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
h2 { font-size: var(--header2); color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
h3 { font-size: var(--header3); color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
h4 { font-size: var(--header4); color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
h5 { font-size: var(--header5); color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
h6 { font-size: var(--header6); color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
a { color: var(--white); text-shadow: 2px 1px var(--black), 0 0 24px var(--blue_hover), 0 0 5px var(--blue); }
p { font-size: var(--header4); color: var(--white); }

nav {
    gap: 10%;
    font-size: 32px;
    padding: 2rem;
}
a:hover {
    text-shadow: 2px 1px var(--black), 0 0 24px var(--teal_hover), 0 0 5px var(--teal);  
}

#home-div {
    align-items: center;
    gap: 50px;
    padding: 128px;
    padding-top: 64px;
    padding-bottom: 64px;
    border: green, 2px, solid;
}

#div-1 {
    align-items: center;    
    border: blue, 2px, solid;
}

#div-2 {
    flex: 1;
    word-wrap: break-word;
    border: red, 2px, solid;
}

#alex-img {
    height: 500px;
    width: auto;
    border: var(--blue_hover) 2px, solid;
    border-radius: 100%;
}